<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRouteNumberService" />
                <binding name="BasicHttpBinding_IDriverService" />
                <binding name="BasicHttpBinding_IVehicleService" />
                <binding name="BasicHttpBinding_IRouteService" />
                <binding name="BasicHttpBinding_ICusomerService" />
                <binding name="BasicHttpBinding_IPaymentService" />
                <binding name="BasicHttpBinding_ICustomerJourneyService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65072/RouteNumberService/RouteNumberService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteNumberService"
                contract="RouteNumberService1.IRouteNumberService" name="BasicHttpBinding_IRouteNumberService" />
            <endpoint address="http://localhost:65072/DriverService/DriverService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDriverService"
                contract="DriverService1.IDriverService" name="BasicHttpBinding_IDriverService" />
            <endpoint address="http://localhost:65072/VehicleService/VehicleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVehicleService"
                contract="VehicleService1.IVehicleService" name="BasicHttpBinding_IVehicleService" />
            <endpoint address="http://localhost:65072/RouteService/RouteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRouteService"
                contract="RouteService1.IRouteService" name="BasicHttpBinding_IRouteService" />
            <endpoint address="http://localhost:65072/CustomerService/CusomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICusomerService"
                contract="CustomerService1.ICusomerService" name="BasicHttpBinding_ICusomerService" />
            <endpoint address="http://localhost:65072/PaymentService/PaymentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentService"
                contract="PaymentService1.IPaymentService" name="BasicHttpBinding_IPaymentService" />
            <endpoint address="http://localhost:65072/CustomerJourneyService/CustomerJourneyService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerJourneyService"
                contract="CustomerJourneyService1.ICustomerJourneyService"
                name="BasicHttpBinding_ICustomerJourneyService" />
        </client>
    </system.serviceModel>
</configuration>